.frame10 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 275px);
  width: calc(100% + 275px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 275px;
}
.frame8 {
  flex-direction: row;
  background: rgba(107, 98, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 123px;
  height: 87px;
  display: flex;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 10px;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__maIR {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame9 {
  flex-direction: row;
  background: rgba(229, 10, 10, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 123px;
  height: 87px;
  display: flex;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 10px;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__c1FEx {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
